<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat en la Sala</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body data-id="{{ id_usuario }}">
    <div class="sidebar">
        <a href="../perfil/{{ id_usuario }}"><i class="fas fa-user"></i></a>
        <a href="/matches/{{ id_usuario }}"><i class="fas fa-heart"></i></a>
        <a href="/chat/{{ id_usuario }}"><i class="fas fa-comment-alt"></i></a>
        <a href="/cerrar_sesion"><i class="fas fa-sign-out-alt"></i></a>
    </div>

    <div id="chat">
        <div class="cabecero">
            <i class="icono icono-usuario fas fa-user"></i>
            <h2 id="nombre-match">Selecciona un match</h2>
            <i class="icono icono-telefono fas fa-phone"></i>
        </div>

        <div id="status-mensaje"></div>
        <div id="mensajes"></div>
        <div class="enviarMensajes">
            <input type="text" id="mensaje-input" placeholder="Escribe un mensaje...">
            <button id="enviarBoton">Enviar</button>
        </div>
    </div>

    <div id="matches-bar" class="matches-bar">
        <h3>Tus Matches</h3>
        <ul id="matches-list"></ul> <!-- Aquí aparecerán los usuarios con los que tienes match -->
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
</body>

</html>
