<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivial Retro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Inicio.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap" rel="stylesheet">
</head>
<body class="dm-serif-display-regular">
    <div id="start-screen" class="container">
        <h1 class="bienvenidos"><bold>BIENVENID@S A</bold></h1>
        <h2 class="custom-title"><strong>༻𝐂𝐔𝐏𝐈𝐃♡༺</strong></h2>
        <p><bold>¡La nueva y más exitosa web de citas que dejaras de usar en breve!</bold></p>
        <div id="intro-container" class="container">
            <p>¿Ya tiene una cuenta? Si no es el caso,¡hora de crearse una!</p>
            <button onclick="window.location.href='registro'">Registrarse</button>
            <button onclick="window.location.href='inicio_sesion'">Iniciar Sesión</button>
        </div>
    </div>

    <div id="game-screen" class="container hidden">
        <h1 class="question" id="question"></h1>
        <div class="options" id="options"></div>
        <button onclick="previousQuestion()" id="back-button" class="hidden">Back</button>
    </div>
</body>
</html>
