<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body data-id="{{ id_usuario }}">
    <!-- Barra lateral fija y angosta -->
    <div class="sidebar">
        <a href="../perfil/{{ id_usuario }}"><i class="fas fa-user"></i></a>
        <a href="/matches/{{ id_usuario }}"><i class="fas fa-heart"></i></a>
        <a href="/chat/{{ id_usuario }}"><i class="fas fa-comment-alt"></i></a>
        <a href="/cerrar_sesion"><i class="fas fa-sign-out-alt"></i></a>
    </div>

    <div class="profile-wrapper">
        <div class="profile-image-container">
            <img id="profile-pic" src="" alt="Foto de Perfil">
        </div>

        <div class="profile-card">
            <h2 id="username"></h2>
            
            <p><strong>Id de usuario:</strong> <span id="handle"></span></p>
            <p><strong>Edad:</strong> <span id="location"></span></p>
            <p><strong>Género:</strong> <span id="member-date"></span></p>
            <p><strong>Orientación sexual:</strong> <span id="interests"></span></p>
        
            <button id="edit-btn">Editar perfil</button>
            <button id="delete-btn">Eliminar cuenta</button>
        </div>
        
    </div>

    <!-- Pestaña Modal de edición -->
    <div id="edit-modal" class="modal">
        <div class="modal-content">
            <span id="close-edit-modal" class="close" style="cursor: pointer;">&times;</span>
            <h2>Editar Perfil</h2>
            <label>Nombre de Usuario:</label>
            <input type="text" id="nombre_usuario" name="nombre_usuario" required placeholder="Ej: Ana Melano">
            <div class="contrasena">
                <label for="contrasena">Contraseña:</label>
                <input type="password" id="contrasena" name="contrasena" required
                    placeholder="¡Recuerda poner una contraseña segura!">
            </div>
            <div>
                <label for="edad">Edad:</label>
                <input type="number" id="edad" name="edad" required min="18" max="90"
                    placeholder="La edad no es solo un número.">
            </div>
            <div>
                <label for="genero">Género:</label>
                <select id="genero" name="genero">
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                    <option value="no binario">No binario</option>
                </select>
            </div>
            <div>
                <label for="orientacion_sexual">Orientación Sexual:</label>
                <select id="orientacion_sexual" name="orientacion_sexual">
                    <option value="heterosexual">Heterosexual</option>
                    <option value="bisexual">Bisexual</option>
                    <option value="homosexual">Homosexual</option>
                    <option value="pansexual">Pansexual</option>
                </select>
            </div>

            <div class="bio-container">
                <label for="bio">Biografía:</label>
                <textarea id="bio" name="bio" required placeholder="Cuéntanos un poco sobre ti"></textarea>
            </div>

            <div class="foto-container">
                <label for="foto_perfil">Foto de Perfil:</label>
                <input type="file" id="foto_perfil" name="foto_perfil" accept="image/*" required>
            </div>
            <button id="save-btn">Guardar cambios</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/perfil.js') }}"></script>
</body>

</html>
